{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "CSBlogBundle::layout.html.twig" %}

{% block title %}
    Supprimer un post - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Ce post a bien été supprimé !! </h2>


    <p>
        <a href="{{ path('cs_blog_home', {'id': 1}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'acceuil
        </a>
    </p>

{% endblock %}