

{% extends "CSBlogBundle::layout.html.twig" %}

{% block title %}
    Modifier une recette - {{ parent() }}
{% endblock %}

{% block csblog_body %}

    <h2>Modifier une recette</h2>

    {{ include("CSBlogBundle:Advert:form.html.twig") }}

    <p>
        Vous éditez une recette déjà existante, merci de ne pas changer
        l'esprit générale de la recette car cela pourrait avoir des conséquences gustatives.
    </p>

    {#<p>#}
        {#<a href="{{ path('cs_blog_view', {'id': advert.id}) }}" class="btn btn-default">#}
            {#<i class="glyphicon glyphicon-chevron-left"></i>#}
            {#Retour à la recette#}
        {#</a>#}
    {#</p>#}

{% endblock %}